{% extends "base.html" %}{% block content %}
<html>
  <head>
    {% if ModuleTitle %}
    <title>{{ ModuleTitle }}</title>
    {% else %}
    <title>No ModuleTitle</title>
    {% endif %}
  </head>
  <body>
    <div class="head">
        <h1>{{ModuleTitle}}</h1>
    </div>
      <div class="cardgrid">
      {% for Complete in Completed %}
      
        <div class="card text-bg-dark mb-3" style="max-width: 35rem;">
            <div class="card-header">{{ Complete.ModuleTitle }}</div>
            <div class="card-body text-secondary">
                <p class="card-title"><strong> Module Code: </strong> {{ Complete.ModuleCode }}</p>
                <p class="card-Deadline"><strong> Deadline: </strong> {{ Complete.ModuleDeadline }}</p>
                <p class="card-Description"><strong> Description: </strong> {{ Complete.ModuleDescription }}</p>
                <form action="{{ url_for('Delete', ModuleID=Complete.ModuleID) }}" name="Creating" method="POST">                <!-- for Delete button -->
                    <input type="submit" class="btn btn-outline-light btn-dark" value="Delete">
                </form>
            </div>
        </div>
    {% endfor %}
    </div>
</body>
</html>
{% endblock %} 